* {
    font-family: Arial, sans-serif;
}

h1 {
    font-family: Georgia, serif;
}

h2 {
    font-family: 'Times New Roman', serif;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-underline-offset: 8px;
    text-decoration-thickness: 5px;
}

.left {
    float: left;
    width: 400px;
    height: 2250px;
    background-color: bisque;
    margin-left: 80px;
}

#informacion img {
    margin-top: 40px;
} 

.cedula{
    line-height: 5px;
    padding-bottom: 3px;
}

.fecha {
    line-height: 5px;
    padding-bottom: 3px;
}

.lugar {
    line-height: 5px;
    padding-bottom: 3px;
}

.nacionalidad {
    line-height: 5px;
    padding-bottom: 3px;
}

.right_container {
    float: right;
    width: 600px;
    margin-right: 200px;
}

.left section {
    text-align: center;
}

.left table{
    margin-left: 50px;
}

ul {
    list-style-type: square;
}

#email {
    margin-left: 0px;
}

#nombre{
    margin-left: 75px;
}

#mensaje {
    margin-left: 60px;
}


